.create-new-candidate-body{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

}
.create-new-candidate-main-div{
    width: 50%;
    min-height: 50vh;
    max-height: 50vh;
    border-radius: 25px;
    background-color: azure;
    display: flex;
    justify-content: start;
    align-content:start;
    gap:25px;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
}