.create-new-rep-main-div{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

}
.create-new-rep-modal{
    width: 50%;
    min-height: 50vh;
    max-height: 50vh;
    border-radius: 25px;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-content:start;
    gap:25px;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
}
.create-new-rep-form{
    width: 80%;
    min-height: 80%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    
}
.create-new-rep-text{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

  
  .create-new-rep-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .create-new-rep-candidates:hover .create-new-rep-dropdown {
    display: block;
  }
  .create-new-rep-dropdown > p:hover {
    background-color: black;
    color: azure;
  }
  