.footer-main-div {
  width: 100%;
  min-height: 100px;
  background-color: rgb(220, 228, 201);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(113, 98, 82);
  letter-spacing: 2.5px;
  font-size: large;
}
