.search-div {
  width: 70%;
  display: flex;
  justify-content: end;
  margin-top: 15px;
}
.search-input {
  margin-right: 10px;
  border: 2px solid rgb(182, 162, 142);
  border-radius: 25px;
  width: 18%;
  height: 35px;
  font-size: 20px;
  background-color: rgba(243, 243, 221, 0.5);
  color: rgb(94, 81, 68);
  padding: 10px;
}
.search-div > i {
  margin-top: 10px;
  cursor: pointer;
}
